[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*;
Actions=convertJPEG;convertPNG;convertWEBP;convertJXL;
X-KDE-Submenu=Convert to...
X-KDE-Submenu[pt]=Converter para...
X-KDE-Submenu[es]=Convertir a...

[Desktop Action convertJPEG]
Name=.jpg
Icon=image-jpeg
Exec=filename=%f; convert %f "${filename%.*}.jpg"

[Desktop Action convertPNG]
Name=.png
Icon=image-png
Exec=filename=%f; convert %f "${filename%.*}.png"

[Desktop Action convertWEBP]
Name=.webp
Icon=image-webp
Exec=filename=%f; convert %f "${filename%.*}.webp"

[Desktop Action convertJXL]
Name=.jxl
Icon=image-jxl
Exec=filename=%f; convert %f "${filename%.*}.jxl"
